<div class=" team-skills-div">
  <table class="team-skills-tbl">
    <tr>
      <th class="table-row-header"> Name </th>
      <th [style.background-color]="skill.isHard?  'teal' : 'deepskyblue'" *ngFor="let skill of skills">
        <div>{{skill.name}}</div>
      </th>
    </tr>
    <tbody>
      <tr *ngFor="let worker of team">
        <td>{{worker.name}}</td>
        <td *ngFor="let skill of worker.skills" class="table-col">
          <div>
            <select [(ngModel)]="skill.levelId" (change)="onSkillChange(skill.skill.Id)">
              <option *ngFor="let r of roles" [ngValue]="r.id">{{r.name }}</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td class="separator-row" colspan="100"></td>
      </tr>
      <tr *ngFor="let project of projectsList">
        <td class="table-row-header">{{project.name}}</td>
        <td class="table-col" *ngFor="let skill of skills">
          <div>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
