<h1 style="display: none;"> Team-Achievement</h1>

<button *ngIf='isUserAuthenticaded' (click)='logout()' style="margin-left: 350px; width: 50px;"><i class="fas" ></i>{{userName}}(Log Out)</button>
<nav class="mainmenu">
 
  <button [routerLink]="['/matrix']" class="navbar-toggler nav-btn" type="button">
    Matrix
  </button>
  <button [routerLink]="['/projects']" class="navbar-toggler nav-btn" type="button">
  Projects
  </button>
  <button [routerLink]="['/team']" class="navbar-toggler nav-btn" type="button">
    Team
  </button>
</nav>