<div class="newjournal">

  <div class="editjournal openedjournal">
    <div class="imgplace">
      <i class="fas fa-bolt"></i>
    </div>
    <h4>{{entry.title}}</h4>
    <div class="btnplace">

      <button><i class="fas fa-trash-alt"></i>Remove</button>
    </div>


    <div class="abstract">Description Description Description Description Description </div>


    <div class="infocriteria" *ngFor='let creteria of entry.criteries'>
      <h5>{{creteria.name}}</h5>
      <label>
        <span>Range:</span>
        <fieldset>
          <input *ngFor='let indx of [1,2 ,3,4,5]' type="radio" value="indx" title={{indx}} name="{{creteria.id}}"
            [checked]="creteria.rate === indx" (change)="onSelectionChange(creteria, indx)">
        </fieldset>
      </label>
    </div>

    <button class="btnmore" (click)='addNewCreteriaToList()'><i class="far fa-plus-square"></i>Add more
      Criteria</button>

    <div class="infocriteria">
      <label>
        <span>Range:</span>
        <fieldset>
          <input *ngFor='let indx of [1,2 ,3,4,5]' type="radio" value="indx" title={{indx}} name="NewCriteriaGroup"
            (change)="newCriteriaRate = indx;">
        </fieldset>
      </label>
      <label class="selectcriteria">
        <select [(ngModel)]="newCriteriyaId">
          <option selected>Select criteria</option>
          <option [value]="c.id" *ngFor='let c of criteriesList'>{{c.name}}</option>
        </select>
      </label>



    </div>

  </div>
  <button class="btnsave"><i class="fas fa-save"></i>Place</button>
</div>