
  <button class="btn btn-primary" (click)="openProjectDetails(0)">Add</button>
  <div class="card-deck">
    <div class="floating-card" *ngFor="let project of projectsList" >
        <div class="card-header" [style.background-color]="project.color">
            {{project.name}}
        </div>
        <div class="card-body row text-center card-content">
            <div class="col" *ngFor="let skill of project.skills">
                <div class="text-value-xl">{{skill.name}}</div>
                <div  *ngFor="let skillSum of skill.sum" class="text-uppercase text-muted small">
                    {{skillSum.role.name}} - {{skillSum.count}} </div>
            </div>
            
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" (click)="openProjectDetails(project.id)">Edit</button>
        </div>
    </div>
</div>