<div class="mainscreen shadowboxes flexboxes2">
  <div class="teamitemplace">
    <h2>{{member.name}}</h2>
    <div class="imgplace"><img src={{member.iconPath}} /></div>


    <div class="teamitemdata">
      <div>Birthday: {{member.birthday  | date:'dd.MM.yyyy'}}</div>
      <div>{{member.email}}</div>
      <div>{{member.phone}}</div>
      <div>address</div>
    </div>

    <div class="inprojectfull" *ngIf="member.projects && member.projects.length > 0">
      <h4>Member in projects:</h4>
      <div *ngFor="let proj of member.projects">
        <span class="title">{{proj.name}}</span>
        <span>Description</span>
      </div>

      <button *ngFor="let proj of member.projects" [style.background-color]="proj.color"
        style="display: none;">{{proj.alias}}</button>
    </div>

    <div class="skillsplace">
      <h2>Skills</h2>
      <button class="btn btn-secondary" type="button">Asign/Remove skill</button>
      <div *ngFor="let skill of member.skills" class="skill">
        <span class="title">Skill:</span><span class="level">{{skill.skill.name}} </span>
        <span class="title">Level:</span>
        <select [(ngModel)]="skill.levelId">
          <option *ngFor="let r of roles" [ngValue]="r.id">{{r.name }}</option>
        </select>
      </div>
    </div>

    <h4>Absence</h4>
    <div class="card">
      <div class="card-header">
        <div style="float: left;">
          From date:
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dpFrom" [(ngModel)]="fromAbsenceDateModel"
                  ngbDatepicker #dFrom="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dFrom.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div style="float: left;">
          To date:
          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dpTo" [(ngModel)]="toAbsenceDateModel"
                  ngbDatepicker #dTo="ngbDatepicker">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="dTo.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <button class="btn btn-secondary" (click)="addAbsence()" type="button">Add</button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Absence List</h5>
        <div *ngFor="let range of member.absences">
          {{range.from | date:'dd.MM.yyyy'}} - {{range.to | date:'dd.MM.yyyy'}} <button class="btn btn-secondary"
            (click)="removeAbsence(range.id)" type="button">X</button>
        </div>
      </div>
    </div>


  </div>

  <div class="teamplace">
    <h2>Journal</h2>
    <div class="list-group" style="max-height: 300px; overflow-y: auto;">
      <h4>Tasks / Offers</h4>
      <a (click)="openEntryDetails(task.id)" class="list-group-item list-group-item-action"
        *ngFor="let task of journalTasksList">{{task.title}} </a>
    </div>
    <hr />
    <a (click)="openEntryDetails(0)" class="list-group-item list-group-item-action active">Custom entry</a>
  </div>