/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. 
@import '~bootstrap/scss/bootstrap';*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0px;padding:0px;border:0px;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table {border-collapse:collapse;border-spacing:0;}
table, td, th {vertical-align:top;}
*:focus { outline: none;}
a img {border:none;} 
hr{display: block;clear: both;background: #cccccc;color: #cccccc;width: 100%;height: 1px;border: none;} 
input, textarea, select, button {line-height:normal;margin:0px;padding:0px;border:none;border-bottom:1px solid #999;color: #222;font: normal 16px Assistant, Arial, Helvetica, sans-serif;background:#fff;vertical-align: middle;}
input:hover, textarea:hover, select:hover, button:hover {border-bottom:1px solid #ee7c66;}
textarea{overflow:auto;vertical-align:top;resize: none;} 
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
::-moz-selection {background:#ee7c66;color:#ffffff;text-shadow: none;}
::-webkit-selection {background:#ee7c66;color:#ffffff;text-shadow: none;}
::selection {background:#ee7c66;color:#ffffff;text-shadow: none;}
* {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
::-webkit-input-placeholder {color: #000000;}
::-moz-placeholder {color: #000000;}
:-ms-input-placeholder {color: #000000;} 
:-moz-placeholder {color: #000000;}
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(126, 126, 126) #f0f0f0;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background:#f0f0f0;
  }
  *::-webkit-scrollbar-thumb {
    background-color:#ccc;
    border-radius: 20px;
    border:none;
  }
html {font-size:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none}
body {font-size:15px;-webkit-animation: bugfix infinite 1s;overflow-x:hidden;line-height: 1.5;color: #191e22;background: #e9eef2;}
h1, h2, h3, h4, h5, h6, h7 {color:#202222;margin:0px 0px 10px 0px;line-height:100%;font-size:18px;font-weight:300;}
h1 {font-size:32px;}
h2 {font-size:22px;} 
h3 {font-size:20px;} 
p {margin:0px 0px 10px 0px;line-height:140%;} 
a,  a:link,  a:visited,  a:focus,  a:active{color:#ee7c66;text-decoration:none;outline-style:none;}
a:hover, a:focus {color:#000000;}
img { -ms-interpolation-mode: bicubic;display: block; max-width:100%;}
li ul, li ol {margin:0 1.5em;}
ol {list-style-type:decimal;} 
nav ul{ display: inline;margin:0;list-style-type:none;list-style: none;}
nav ul li {display:inline-block}
ul li{margin:0;list-style: none;}
body, h1, h2, h3, h4, h5, h6, .mainabstract p, input, textarea, select, button {font-family:Poppins, Arial, Helvetica, sans-serif;}
div, span, a, header, footer, :before, :after, img, input, textarea, button, p, h2, h3, ul, li {transition: all 0.30s ease-in-out;-o-transition: all 0.30s ease-in-out;-ms-transition: all 0.30s ease-in-out;-moz-transition: all 0.30s ease-in-out;-webkit-transition: all 0.30s ease-in-out;}
.login {transition:none;-o-transition:none;-ms-transition:none;-moz-transition:none;-webkit-transition:none;}
.clear {clear:both;}
div:after {content: "";display: table;clear: both;}



/*--*/
#main {max-width:1920px;margin:auto;}

header {position:fixed;left:0;top:0;width:100%;z-index:998;background: #454a5e;}

.mainscreen {margin:6% 1%;}

.flexboxes2 {display: flex; justify-content: space-around}

.maintitle {color:#fff;font-style:italic;padding:1%;float:left;margin:0;font-size:30px;}

.mainmenu {margin:1%;float:right;width:300px;}
.mainmenu button {display: inline-block;width:30%;margin: 1%;border: 1px solid #ee7c66;background: #ee7c66;color: #fff;text-align: center;padding: 3% 6%;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;font-size: 14px;}
.mainmenu button:hover, .mainmenu button:focus {background:#c87359;border:1px solid #c87359;}

.teamplace {position:relative;width:49%;margin:1%;padding:1%;background:#fff;margin-bottom: 20px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);}
.teamplace h2, .alertplace h2 {font-weight:600;margin:3px 0 30px 0;text-transform:uppercase}
.teamplace h3, .alertplace h3 {font-weight:500;}

.teamlist .team {padding:0 0 20px 0;margin:0 0 20px 0;border-bottom: 1px solid #e9ecef;}
.teamlist {  max-height:400px;overflow:hidden;-ms-touch-action: auto;touch-action: auto;overflow-y: auto;-ms-overflow-style: none;}
.teamlist .cutplace {  max-height: 65px;overflow: hidden;}
.teamlist p {font-size: 14px;font-weight: 300;}
.teamlist .abstract {overflow: hidden;position:relative}
.teamlist .imgplace { overflow: hidden;float:left;   border-radius: 100%;background:#f0f0f0;color: #fff;width: 50px;height: 50px;display: inline-block;margin:0 1% 0 0;}
.teamlist .team {position:relative}

.inproject {margin:10px 0 0 0;padding:10px 0 0 0;border-top:1px solid #e9ecef}
.inproject button {float:left; width: 50px;height: 50px;display: inline-block;margin:0 1% 0 0;border-radius: 100%;border: 1px solid #fff;background: #f0f0f0;}
.inproject button:nth-of-type(2n) {background: #e1e1e1;}
.inproject button:nth-of-type(3n) {background: #d3d3d3;}
.inproject button:nth-of-type(4n) {background: #c6c6c6;}
.inproject button:nth-of-type(5n) {background: #b7b7b7;}

.alertlist {max-height:400px;overflow:hidden;-ms-touch-action: auto;touch-action: auto;overflow-y: auto;-ms-overflow-style: none;}
.alertlist p {font-size: 14px;font-weight: 300;}

.alertplace {position:relative;width:49%;margin:1%;padding:1%;background:#fff;margin-bottom: 20px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);}
.alertplace .alertdata {margin:0 0 20px 0;border-bottom: 1px solid #e9ecef;}
.alertlevel0 {background:#acffc5;padding:20px;}
.alertlevel1 {background:#ffacac;padding:20px;}
	
.btnplace {position:absolute;right:15px;top:15px;}
.btnplace button {display: inline-block;vertical-align: middle;color:#ee7c66;border:none;font-size:14px;margin: 0 10px;}
.btnplace button i {margin:0 5px 0 0}

.btnplace button:hover {color: #000;}

.moreoptions {position:absolute;right:15px;top:0px;}
.moreoptions button {background:none;border:none;border-radius: 20px;font-size: 18px;line-height:100%;display: inline-block;text-align: center;vertical-align: middle;width:20px;height:20px;color:#999;margin: 0 3px;}
.moreoptions button:hover {color:#c87359;}

















@media screen and (max-width: 1020px)
{
	.maintitle, .mainmenu  {margin:5px auto;float:none;width:100%;text-align:center}
	.mainscreen {margin:120px 1% 1% 1%}
	.flexboxes2 {display:block}
	.flexboxes2 > div {width:100%;margin:0 0 20px 0;}
	.btnplace {position:static}
	.teamplace h2, .alertplace h2 {margin-bottom:10px;}
	.teamlist .team, .alertplace .alertdata {margin:4%;}
}
