<div class="row">
  <button [routerLink]="['/details']" class="btn-primary">Add Member</button>
  <button class="btn-primary">Set Roles</button>
</div>

<div class="row">

  <div class="col-9">

    <div class="card border-primary mb-3">
      <div class="card-header">Team

      </div>
      <div class="card-body text-primary drag-container">
        <div cdkDropList #teamList="cdkDropList" [cdkDropListData]="team" [cdkDropListConnectedTo]="projectsListsIds"
          class="item-list" (cdkDropListDropped)="drop($event)">
          <div class="item-box" *ngFor="let member of team" [style.background-color]="member.role.color" cdkDrag>
           <div class="float-left">{{member.name}}</div> 
           <div class="float-right"><button class="btn-primary" [routerLink]="['/details/',member.id]">Open</button></div> 
          </div>
        </div>
      </div>
    </div>

    <div class=" mb-3 float-left" *ngFor="let project of projectList">
      <div>
        <div class="drag-container">
          <div class="section-heading">{{project.name}}</div>

          <div cdkDropList class="item-list" [cdkDropListData]="project.team"  (cdkDropListDropped)="drop($event)" [attr.id]="setProjectListId(project.id)"> 
            <div class="item-box" *ngFor="let member of project.team" [style.background-color]="member.role.color" cdkDrag>{{member.name}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-3" style="height:600px; overflow-x:none;  overflow-y:auto;">
    <div *ngFor="let msg of messagesList" class="card text-white bg-secondary mb-3">
      <div class="card-header">{{msg.title}}</div>
      <div class="card-body">
        <p class="card-text">{{msg.text}}</p>
      </div>
    </div>
  </div>

</div>