<div class="mainscreen shadowboxes flexboxes2">
  <div class="teamplace">
    <h2>List of team members</h2>
    <div class="btnplace">
      <button [routerLink]="['/details']"><i class="fas fa-user-plus"></i>Add Member</button>
      <button><i class="fas fa-cogs"></i>Set Roles</button>
    </div>
    
    <div class="teamlist">

      <div class="team" *ngFor="let member of team">
        <div class="imgplace"><img src="{{member.iconPath}}" /></div>
        <div class="abstract">
          <h3>{{member.name}}</h3>
          <div class="cutplace"><p>{{member.status}}</p></div>
          <div class="moreoptions">
            <button class="fas fa-info-circle" title="Open info"  [routerLink]="['/details', member.id]"></button>
            <button class="far fa-user-circle" title="Open member"></button>
          </div>
          <div class="inproject" *ngIf="member.projects && member.projects.length > 0">
            <h4>Member in projects:</h4>
            <button *ngFor="let proj of member.projects" [style.background-color]="proj.color" >{{proj.alias}}</button>
          </div>
        </div>
      </div>
    
    </div>
  </div>

  <div class="alertplace">
    <h2>Alert place</h2>
    <div class="btnplace">
      <button><i class="fas fa-th-list"></i>View All List</button>
    </div>
    
    <div class="alertlist">
      <div *ngFor="let msg of messagesList" class="alertdata alertlevel">
        <h3>Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
      </div>
      <!--div class="alertdata alertlevel1">
        <h3>Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
      </div>
      <div class="alertdata">
        <h3>Title</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has beenorem Ipsum is simply dummy text of the printing and type setting industry.</p>
      </div-->
    </div>
  </div>
</div>